.react-backdrop {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.3;
  position: absolute;
  transition: opacity 0.3s linear;

  &[hidden]{
    display: none;
  }

  &[data-visible=false]{
    position: absolute;
    opacity: 0!important;
  }

  &[data-visible=true]{
    position: fixed;
    opacity: 0.3;
  }
}
