.react-backdrop {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.3;
  position: absolute;
  transition: opacity 0 linear;

  &[hidden]{
    display: none;
  }

  &[data-animating=true]{
    transition-duration: 0.3s;
  }

  &[data-animating=false]{
    transition-duration: 0;
  }


  &[data-visible=false]{
    // position: absolute;
    opacity: 0.01;
  }

  &[data-visible=true]{
    // position: fixed;
    opacity: 0.3;
  }
}
